In [1]:
import pandas as pd
import mytools

# 20年1月8日

In [4]:
f = mytools.othern.file_name_paths('G:/1-规划/7734/7734质检/20200108数据质检7734/数据/',find='.csv')

In [7]:
data = pd.DataFrame()
for name in f:
    data_t = pd.read_csv(open(name,encoding='utf-8'),sep='\t')
    data = data.append(data_t)

In [12]:
data.groupby('day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20200101,485,485,485,485,485,485,485,31,485,485,485,485,453,485,485
20200102,109292,109292,109292,109292,109292,109292,109292,214,109292,109292,109292,109292,93550,109292,109292
20200103,69973,69973,69973,69973,69973,69973,69973,11818,69973,69973,69973,69973,61582,69973,69973
20200104,75389,75389,75389,75389,75389,75389,75389,13016,75389,75389,75389,75389,64957,75389,75389
20200105,83363,83363,83363,83363,83363,83363,83363,16166,83363,83363,83363,83363,66740,83363,83363
20200106,68919,68919,68919,68919,68919,68919,68919,16155,68919,68919,68919,68919,61808,68919,68919
20200107,69929,69929,69929,69929,69929,69929,69929,16112,69929,69929,69929,69929,58297,69929,69929

In [13]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')
res = rew.drop_duplicates('index')

In [14]:
res = res[['eutrancell_cgi', 'rsrp_sample_count_x','rsrp_weak_x','region_name']]
res['fgl'] = 1-res['rsrp_weak_x']/res['rsrp_sample_count_x']

In [15]:
res.to_clipboard()

In [22]:
res['eutrancell_cgi'].str.split('-')[2]

KeyError: 2

In [20]:
res

,eutrancell_cgi,rsrp_sample_count_x,rsrp_weak_x,region_name,fgl,enodeb
0,460-00-118807-64,1003555,62736,荆门,0.937486,"[460, 00, 118807, 64]"
6,460-00-118807-65,405386,29900,荆门,0.926243,"[460, 00, 118807, 65]"
12,460-00-118807-66,443944,18852,荆门,0.957535,"[460, 00, 118807, 66]"
18,460-00-118857-64,305624,31403,荆门,0.897250,"[460, 00, 118857, 64]"
23,460-00-118857-65,385136,531,荆门,0.998621,"[460, 00, 118857, 65]"
...,...,...,...,...,...,...
477335,460-00-999422-2,25644,390,宜昌,0.984792,"[460, 00, 999422, 2]"
477338,460-00-999422-3,37172,4916,宜昌,0.867750,"[460, 00, 999422, 3]"
477341,460-00-999423-1,31006,5161,宜昌,0.833548,"[460, 00, 999423, 1]"
477344,460-00-999423-2,20719,1924,宜昌,0.907138,"[460, 00, 999423, 2]"
477347,460-00-999423-3,33194,681,宜昌,0.979484,"[460, 00, 999423, 3]"

# 20年1月2日

In [5]:
data_1229 = pd.read_csv(open('G:/1-规划/7734/7734质检/20200102数据质检7734/数据/12281229cgi.csv',encoding='utf8'),sep='\t')
data_1231 = pd.read_csv(open('G:/1-规划/7734/7734质检/20200102数据质检7734/数据/1231cgi.csv',encoding='utf8'),sep='\t')

In [6]:
data = pd.concat([data_1229,data_1231])

In [7]:
data.groupby('day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191228,6930,6930,6930,6930,6930,6930,6930,119,6930,6930,6930,6930,5408,6930,6930
20191229,6940,6940,6940,6940,6940,6940,6940,122,6940,6940,6940,6940,5316,6940,6940
20191231,984,984,984,984,984,984,984,36,984,984,984,984,665,984,984

In [8]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')
res = rew.drop_duplicates('index')

In [9]:
res = res[['eutrancell_cgi', 'rsrp_sample_count_x','rsrp_weak_x','region_name']]

In [10]:
res.to_clipboard()

# 12月25

In [6]:
# data_1215 = pd.read_csv(open('g:/1-规划/评估/FDD900评估/3-输出/20191225第四版更新软采数据/软采小区/1215cgi.csv',encoding='utf8'),sep='\t')
data_1220 = pd.read_csv(open('g:/1-规划/评估/FDD900评估/3-输出/20191225第四版更新软采数据/软采小区/12181220cgi.csv',encoding='utf8'),sep='\t')
data_1223 = pd.read_csv(open('g:/1-规划/评估/FDD900评估/3-输出/20191225第四版更新软采数据/软采小区/12211223cgi.csv',encoding='utf8'),sep='\t')

In [7]:
data = pd.concat([data_1220,data_1223])

In [8]:
data.groupby('day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191218,50135,50135,50135,50135,50135,50135,50135,1548,50135,50135,50135,50135,285,50135,50135
20191219,65824,65824,65824,65824,65824,65824,65824,1761,65824,65824,65824,65824,133,65824,65824
20191220,69419,69419,69419,69419,69419,69419,69419,1507,69419,69419,69419,69419,242,69419,69419
20191221,22800,22800,22800,22800,22800,22800,22800,1762,22800,22800,22800,22800,68,22800,22800
20191222,11372,11372,11372,11372,11372,11372,11372,448,11372,11372,11372,11372,39,11372,11372
20191223,6053,6053,6053,6053,6053,6053,6053,430,6053,6053,6053,6053,1379,6053,6053

In [15]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')
res = rew.drop_duplicates('index')

In [16]:
res = res[['eutrancell_cgi', 'rsrp_sample_count_x','rsrp_weak_x','region_name']]

In [17]:
res.to_clipboard()

# 12月18

In [3]:
data_12_15 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191217数据质检7734/数据/1215cgi.csv',encoding = 'utf8'),sep = '\t')

In [6]:
data = data_12_15.copy()

In [7]:
data.groupby(by = ['region_name']).count()#.to_clipboard()

,day,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
region_name,,,,,,,,,,,,,,,
十堰,3,3,3,3,3,3,3,0,3,3,3,3,0,3,3
咸宁,28,28,28,28,28,28,28,20,28,28,28,28,0,28,28
天门,159,159,159,159,159,159,159,62,159,159,159,159,0,159,159
宜昌,3,3,3,3,3,3,3,0,3,3,3,3,0,3,3
恩施,14,14,14,14,14,14,14,10,14,14,14,14,0,14,14
武汉,41466,41466,41462,41466,41466,41466,41466,33706,41466,41466,41466,41466,185,41466,41466
荆州,18,18,18,18,18,18,18,18,18,18,18,18,0,18,18

In [8]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191215,41691,41691,41687,41691,41691,41691,41691,33816,41691,41691,41691,41691,185,41691,41691

In [9]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)

rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')

res = rew.drop_duplicates('index')

res.to_clipboard()

# 12月11

In [3]:
data_12_07 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191211数据质检7734/数据/12041207cgi.csv',encoding = 'utf8'),sep = '\t')
data_12_10 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191211数据质检7734/数据/12011210cgi.csv',encoding = 'utf8'),sep = '\t')

In [4]:
data_12_07.shape,data_12_10.shape

((227348, 16), (143688, 16))

In [5]:
data = pd.concat([data_12_07,data_12_10])

In [6]:
data.groupby(by = ['region_name']).count()#.to_clipboard()

,day,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
region_name,,,,,,,,,,,,,,,
十堰,31043,31043,31043,31043,31043,31043,31043,3143,31043,31043,31043,31043,10675,31043,31043
咸宁,1096,1096,1096,1096,1096,1096,1096,1039,1096,1096,1096,1096,3,1096,1096
天门,268,268,268,268,268,268,268,117,268,268,268,268,0,268,268
孝感,25495,25495,25495,25495,25495,25495,25495,19614,25495,25495,25495,25495,25311,25495,25495
宜昌,82934,82934,82934,82934,82934,82934,82934,125,82934,82934,82934,82934,52098,82934,82934
恩施,34357,34357,34357,34357,34357,34357,34357,77,34357,34357,34357,34357,19312,34357,34357
武汉,35340,35340,35340,35340,35340,35340,35340,6641,35340,35340,35340,35340,27311,35340,35340
江汉,239,239,239,239,239,239,239,0,239,239,239,239,200,239,239
潜江,8434,8434,8434,8434,8434,8434,8434,4948,8434,8434,8434,8434,7324,8434,8434
荆州,74447,74447,74447,74447,74447,74447,74447,21384,74447,74447,74447,74447,67903,74447,74447
襄阳,19607,19607,19607,19607,19607,19607,19607,17515,19607,19607,19607,19607,6,19607,19607
鄂州,9183,9183,9183,9183,9183,9183,9183,8178,9183,9183,9183,9183,9083,9183,9183
随州,9188,9188,9188,9188,9188,9188,9188,7246,9188,9188,9188,9188,17,9188,9188
黄石,39405,39405,39405,39405,39405,39405,39405,10748,39405,39405,39405,39405,35610,39405,39405

In [7]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191205,72256,72256,72256,72256,72256,72256,72256,15930,72256,72256,72256,72256,53951,72256,72256
20191206,70985,70985,70985,70985,70985,70985,70985,15970,70985,70985,70985,70985,51017,70985,70985
20191207,84107,84107,84107,84107,84107,84107,84107,1159,84107,84107,84107,84107,63141,84107,84107
20191208,53004,53004,53004,53004,53004,53004,53004,97,53004,53004,53004,53004,43529,53004,53004
20191209,53133,53133,53133,53133,53133,53133,53133,36149,53133,53133,53133,53133,43134,53133,53133
20191210,37551,37551,37551,37551,37551,37551,37551,31470,37551,37551,37551,37551,81,37551,37551

In [8]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

In [9]:
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)

In [10]:
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')

In [11]:
res = rew.drop_duplicates('index')

In [12]:
res.to_clipboard()

# 12月4

In [3]:
data_12_04 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191204数据质检7734/数据/12011203cgi.csv',encoding = 'utf8'),sep = '\t')
# data_11_19 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191120数据质检7734/数据/11171119cgi.csv',encoding = 'utf8'),sep = '\t')

In [4]:
data_12_04.shape#,data_11_19.shape

(79580, 16)

In [5]:
data = data_12_04.copy()

In [15]:
data.groupby(by = ['region_name']).count()#.to_clipboard()

,day,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
region_name,,,,,,,,,,,,,,,
武汉,15096,15096,15096,15096,15096,15096,15096,22,15096,15096,15096,15096,14257,15096,15096
潜江,30,30,30,30,30,30,30,0,30,30,30,30,30,30,30
黄冈,64433,64433,64433,64433,64433,64433,64433,18,64433,64433,64433,64433,55055,64433,64433
黄石,21,21,21,21,21,21,21,0,21,21,21,21,21,21,21

In [8]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191201,26575,26575,26575,26575,26575,26575,26575,13,26575,26575,26575,26575,23196,26575,26575
20191202,26571,26571,26571,26571,26571,26571,26571,15,26571,26571,26571,26571,23205,26571,26571
20191203,26434,26434,26434,26434,26434,26434,26434,12,26434,26434,26434,26434,22962,26434,26434

In [9]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

In [10]:
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)

In [11]:
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')

In [12]:
res = rew.drop_duplicates('index')

In [16]:
res.to_clipboard()

# 11月20

In [2]:
data_11_16 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191120数据质检7734/数据/11131116cgi.csv',encoding = 'utf8'),sep = '\t')
data_11_19 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191120数据质检7734/数据/11171119cgi.csv',encoding = 'utf8'),sep = '\t')

In [3]:
data_11_16.shape,data_11_19.shape

((202850, 16), (92391, 16))

In [4]:
data = pd.concat([data_11_16,data_11_19])

In [8]:
data.groupby(by = ['region_name']).count().to_clipboard()

In [7]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191113,46704,46704,46700,46704,46704,46704,46704,34024,46704,46704,46704,46704,143,46704,46704
20191114,46571,46571,46567,46571,46571,46571,46571,34243,46571,46571,46571,46571,140,46571,46571
20191115,47945,47945,47941,47945,47945,47945,47945,34409,47945,47945,47945,47945,140,47945,47945
20191116,61630,61630,61626,61630,61630,61630,61630,48956,61630,61630,61630,61630,1104,61630,61630
20191117,37097,37097,37093,37097,37097,37097,37097,27911,37097,37097,37097,37097,1115,37097,37097
20191118,25836,25836,25833,25836,25836,25836,25836,20760,25836,25836,25836,25836,1036,25836,25836
20191119,29458,29458,29455,29458,29458,29458,29458,920,29458,29458,29458,29458,120,29458,29458

In [9]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

In [10]:
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)

In [11]:
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')

In [12]:
res = rew.drop_duplicates('index')

In [13]:
res.to_clipboard()

# 11月13日

In [19]:
data_11_10 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191113数据质检7734/数据/11061110cgi.csv',encoding = 'utf8'),sep = '\t')
data_11_12 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191113数据质检7734/数据/11111112cgi.csv',encoding = 'utf8'),sep = '\t')

In [20]:
data_11_10.shape,data_11_12.shape

((178983, 16), (91563, 16))

In [21]:
data = pd.concat([data_11_10,data_11_12])

In [22]:
data.groupby(by = ['region_name']).count().to_clipboard()

In [23]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191106,30351,30351,30350,30351,30351,30351,30351,2740,30351,30351,30351,30351,11382,30351,30351
20191107,28932,28932,28932,28932,28932,28932,28932,286,28932,28932,28932,28932,20031,28932,28932
20191108,33767,33767,33766,33767,33767,33767,33767,19496,33767,33767,33767,33767,21785,33767,33767
20191109,31551,31551,31551,31551,31551,31551,31551,28762,31551,31551,31551,31551,658,31551,31551
20191110,54382,54382,54382,54382,54382,54382,54382,40783,54382,54382,54382,54382,2913,54382,54382
20191111,55256,55256,55256,55256,55256,55256,55256,41265,55256,55256,55256,55256,2762,55256,55256
20191112,36307,36307,36307,36307,36307,36307,36307,29157,36307,36307,36307,36307,2366,36307,36307

In [24]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

In [25]:
data_res.reset_index(inplace = True)
data_res.reset_index(inplace = True)

In [26]:
rew = data_res.merge(data,how = 'left' , on = 'eutrancell_cgi')

In [27]:
res = rew.drop_duplicates('index')

In [28]:
res.to_clipboard()

# 11月6日

In [2]:
data_11_6 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191106数据质检7734/数据/110111041105cgi.csv',encoding = 'utf8'),sep = '\t')

In [3]:
data_11_6.groupby(by = ['region_name']).count()

,day,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
region_name,,,,,,,,,,,,,,,
十堰,9867,9867,9867,9867,9867,9867,9867,50,9867,9867,9867,9867,2503,9867,9867
咸宁,14378,14378,14378,14378,14378,14378,14378,0,14378,14378,14378,14378,12522,14378,14378
孝感,12934,12934,12934,12934,12934,12934,12934,11629,12934,12934,12934,12934,12182,12934,12934
宜昌,45,45,45,45,45,45,45,0,45,45,45,45,24,45,45
恩施,27,27,27,27,27,27,27,0,27,27,27,27,0,27,27
武汉,1759,1759,1759,1759,1759,1759,1759,60,1759,1759,1759,1759,1673,1759,1759
江汉,6893,6893,6893,6893,6893,6893,6893,5041,6893,6893,6893,6893,6324,6893,6893
潜江,2957,2957,2957,2957,2957,2957,2957,2018,2957,2957,2957,2957,2851,2957,2957
荆州,6695,6695,6695,6695,6695,6695,6695,10,6695,6695,6695,6695,5170,6695,6695
荆门,75,75,75,75,75,75,75,0,75,75,75,75,75,75,75
襄阳,135,135,135,135,135,135,135,8,135,135,135,135,128,135,135
鄂州,4836,4836,4836,4836,4836,4836,4836,3276,4836,4836,4836,4836,4785,4836,4836
随州,18,18,18,18,18,18,18,0,18,18,18,18,12,18,18
黄石,21,21,21,21,21,21,21,0,21,21,21,21,21,21,21

In [4]:
data_11_6.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191101,30943,30943,30943,30943,30943,30943,30943,13646,30943,30943,30943,30943,28176,30943,30943
20191104,18703,18703,18703,18703,18703,18703,18703,5714,18703,18703,18703,18703,10837,18703,18703
20191105,10994,10994,10994,10994,10994,10994,10994,2732,10994,10994,10994,10994,9257,10994,10994

In [5]:
data_res = data_11_6.groupby(by = 'eutrancell_cgi').sum()

In [6]:
data_res.reset_index(inplace = True)

In [7]:
data_res.reset_index(inplace = True)

In [9]:
rew = data_res.merge(data_11_6,how = 'left' , on = 'eutrancell_cgi')

In [17]:
rew.head(1)

,index,eutrancell_cgi,day_x,rsrp_sample_count_x,rsrp_weak_x,rsrp_sum_x,inter_maxrsrp_weak_x,un_maxrsrp_sum_x,un_maxrsrp_sample_count_x,un_maxrsrp_weak_x,...,rsrp_sum_y,inter_maxrsrp_weak_y,un_maxrsrp_sum_y,un_maxrsrp_sample_count_y,un_maxrsrp_weak_y,te_maxrsrp_weak_y,te_maxrsrp_sample_count_y,te_maxrsrp_sum_y,te_maxrsrp_weak_l2_y,un_maxrsrp_weak_l2_y
0,0,460-00-119606-64,60573310,8206,1972,-877715.0,0,0.0,0,0,...,-114730.0,0,NaN,0,0,0,0,NaN,0,0

In [11]:
res = rew.drop_duplicates('index')

In [19]:
res.to_clipboard()

In [6]:
data_res.to_clipboard()

# 10月30

In [20]:
data_1030_1 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191030数据质检7734/数据/1008cgi.csv',encoding = 'utf8'),sep = '\t')
data_1030_2 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191030数据质检7734/数据/1014cgi.csv',encoding = 'utf8'),sep = '\t')
data_1030_3 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191030数据质检7734/数据/1009cgi.csv',encoding = 'utf8'),sep = '\t')
data_1030_4 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191030数据质检7734/数据/1029cgi.csv',encoding = 'utf8'),sep = '\t')
data_1030_5 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191030数据质检7734/数据/1013cgi.csv',encoding = 'utf8'),sep = '\t')

In [21]:
data = pd.concat([data_1030_1,data_1030_2,data_1030_3,data_1030_4,data_1030_5])

In [22]:
data.to_clipboard()

In [23]:
data.groupby(by = ['region_name']).count().to_clipboard()

In [24]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20191008,29389,29389,29389,29389,29389,29389,29389,27,29389,29389,29389,29389,46,29389,29389
20191009,27996,27996,27996,27996,27996,27996,27996,6185,27996,27996,27996,27996,15949,27996,27996
20191010,50704,50704,50703,50704,50704,50704,50704,18262,50704,50704,50704,50704,25158,50704,50704
20191011,32921,32921,32921,32921,32921,32921,32921,16505,32921,32921,32921,32921,20848,32921,32921
20191012,40499,40499,40499,40499,40499,40499,40499,22632,40499,40499,40499,40499,36473,40499,40499
20191013,60879,60879,60879,60879,60879,60879,60879,9755,60879,60879,60879,60879,48065,60879,60879
20191014,25463,25463,25460,25463,25463,25463,25463,1052,25463,25463,25463,25463,20184,25463,25463
20191015,16986,16986,16986,16986,16986,16986,16986,13802,16986,16986,16986,16986,172,16986,16986
20191016,14716,14716,14716,14716,14716,14716,14716,12546,14716,14716,14716,14716,143,14716,14716
20191029,32842,32842,32838,32842,32842,32842,32842,504,32842,32842,32842,32842,42,32842,32842

In [25]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

In [26]:
data_res = data_res[['rsrp_sample_count','rsrp_weak']]

In [27]:
data_res.to_clipboard()

# 10月8日

In [2]:
data_1008 = pd.read_csv(open('G:/1-规划/7734/7734质检/20191008数据质检7734/数据/原始/0925cgi.csv',encoding = 'utf8'),sep = '\t')

In [3]:
data_1008.columns

Index(['day', 'region_name', 'eutrancell_cgi', 'eutrancell_name',
       'rsrp_sample_count', 'rsrp_weak', 'rsrp_sum', 'inter_maxrsrp_weak',
       'un_maxrsrp_sum', 'un_maxrsrp_sample_count', 'un_maxrsrp_weak',
       'te_maxrsrp_weak', 'te_maxrsrp_sample_count', 'te_maxrsrp_sum',
       'te_maxrsrp_weak_l2', 'un_maxrsrp_weak_l2'],
      dtype='object')

In [4]:
data_1008.groupby(by = 'region_name').count()

,day,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
region_name,,,,,,,,,,,,,,,
十堰,30,30,30,30,30,30,30,0,30,30,30,30,0,30,30
咸宁,122,122,122,122,122,122,122,0,122,122,122,122,122,122,122
孝感,12,12,12,12,12,12,12,2,12,12,12,12,6,12,12
恩施,30,30,30,30,30,30,30,15,30,30,30,30,9,30,30
武汉,68517,68517,68517,68517,68517,68517,68517,41889,68517,68517,68517,68517,25934,68517,68517
潜江,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
荆州,35441,35441,35438,35441,35441,35441,35441,289,35441,35441,35441,35441,4606,35441,35441
荆门,60,60,60,60,60,60,60,47,60,60,60,60,36,60,60
襄阳,152,152,152,152,152,152,152,118,152,152,152,152,90,152,152
黄冈,27297,27297,27291,27297,27297,27297,27297,20620,27297,27297,27297,27297,1052,27297,27297
黄石,14,14,14,14,14,14,14,14,14,14,14,14,7,14,14

In [24]:
data_1008.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190925,22462,22462,22459,22462,22462,22462,22462,19048,22462,22462,22462,22462,1054,22462,22462
20190926,33072,33072,33069,33072,33072,33072,33072,20808,33072,33072,33072,33072,29,33072,33072
20190927,35737,35737,35736,35737,35737,35737,35737,22899,35737,35737,35737,35737,21009,35737,35737
20190928,19119,19119,19118,19119,19119,19119,19119,125,19119,19119,19119,19119,3805,19119,19119
20190929,21297,21297,21296,21297,21297,21297,21297,126,21297,21297,21297,21297,5977,21297,21297

In [25]:
data_res = data_1008.groupby(by = 'eutrancell_cgi').sum()

In [26]:
data_res = data_res[['rsrp_sample_count','rsrp_weak']]

In [27]:
data_res.to_clipboard()

# 9月25日

In [31]:
data_0925 = pd.read_csv(open('G:/1-规划/7734/7734质检/20190925数据质检7734//数据/0918cgi.csv',encoding = 'utf8'),sep = '\t')

In [32]:
data_0925.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190918,22321,22321,22321,22321,22321,22321,22321,1117,22321,22321,22321,22321,9,22321,22321
20190919,30365,30365,30361,30365,30365,30365,30365,41,30365,30365,30365,30365,10,30365,30365
20190920,30493,30493,30489,30493,30493,30493,30493,134,30493,30493,30493,30493,25,30493,30493
20190921,33739,33739,33735,33739,33739,33739,33739,357,33739,33739,33739,33739,709,33739,33739
20190922,56395,56395,56391,56395,56395,56395,56395,2265,56395,56395,56395,56395,1132,56395,56395
20190923,47923,47923,47923,47923,47923,47923,47923,40550,47923,47923,47923,47923,3449,47923,47923

In [30]:
data_shuchu = data_0925.loc[(data_0925['day']==20190921) | (data_0925['day']==20190922)]

In [25]:
data_shuchu.to_clipboard()

In [33]:
data_res = data_0925.groupby(by = 'eutrancell_cgi').sum()

In [34]:
data_res = data_res[['rsrp_sample_count','rsrp_weak']]

In [35]:
data_res.to_clipboard()

## 9月18日

In [36]:
data_0918 = pd.read_csv(open('G:/1-规划/7734/7734质检/20190918数据质检7734//数据/09110915cgi.csv',encoding = 'utf8'),sep = '\t')

In [37]:
data_0918.shape

(73566, 16)

In [38]:
data_0916 = pd.read_csv(open('G:/1-规划/7734/7734质检/20190918数据质检7734/数据/0916cgi.csv',encoding = 'utf8'),sep = '\t')

In [39]:
data_0916.shape

(33829, 16)

In [40]:
data_zong = data_0918.append(data_0916)

In [41]:
data_zong.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190911,31588,31588,31588,31588,31588,31588,31588,30183,31588,31588,31588,31588,54,31588,31588
20190912,23600,23600,23600,23600,23600,23600,23600,19689,23600,23600,23600,23600,2503,23600,23600
20190913,5248,5248,5245,5248,5248,5248,5248,2098,5248,5248,5248,5248,134,5248,5248
20190914,6542,6542,6539,6542,6542,6542,6542,3338,6542,6542,6542,6542,212,6542,6542
20190915,6588,6588,6585,6588,6588,6588,6588,3324,6588,6588,6588,6588,214,6588,6588
20190916,19656,19656,19653,19656,19656,19656,19656,14574,19656,19656,19656,19656,389,19656,19656
20190917,14173,14173,14173,14173,14173,14173,14173,1332,14173,14173,14173,14173,26,14173,14173

In [42]:
data_res = data_zong.groupby(by = 'eutrancell_cgi').sum()

In [43]:
data_res = data_res[['rsrp_sample_count','rsrp_weak']]

In [44]:
data_res.to_clipboard()

# 9月11日

In [45]:
data_04 = pd.read_csv(open('G:/1-规划/7734/7734质检/20190910数据质检7734/数据/09020904cgi.csv',encoding = 'utf8'),sep = '\t')

In [46]:
data_08 = pd.read_csv(open('G:/1-规划/7734/7734质检/20190910数据质检7734/数据/09050908cgi.csv',encoding = 'utf8'),sep = '\t')

In [47]:
data_zong = data_04.append(data_08)

In [48]:
data_zong.columns

Index(['day', 'region_name', 'eutrancell_cgi', 'eutrancell_name',
       'rsrp_sample_count', 'rsrp_weak', 'rsrp_sum', 'inter_maxrsrp_weak',
       'un_maxrsrp_sum', 'un_maxrsrp_sample_count', 'un_maxrsrp_weak',
       'te_maxrsrp_weak', 'te_maxrsrp_sample_count', 'te_maxrsrp_sum',
       'te_maxrsrp_weak_l2', 'un_maxrsrp_weak_l2'],
      dtype='object')

In [49]:
data_zong.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190902,30294,30294,30294,30294,30294,30294,30294,506,30294,30294,30294,30294,23165,30294,30294
20190903,29731,29731,29731,29731,29731,29731,29731,489,29731,29731,29731,29731,20547,29731,29731
20190904,22927,22927,22927,22927,22927,22927,22927,3503,22927,22927,22927,22927,12461,22927,22927
20190905,12401,12401,12401,12401,12401,12401,12401,6206,12401,12401,12401,12401,9798,12401,12401
20190906,29851,29851,29850,29851,29851,29851,29851,3180,29851,29851,29851,29851,8856,29851,29851
20190907,37543,37543,37543,37543,37543,37543,37543,16619,37543,37543,37543,37543,22822,37543,37543
20190908,34056,34056,34056,34056,34056,34056,34056,16757,34056,34056,34056,34056,21281,34056,34056

In [50]:
data_res = data_zong.groupby(by = 'eutrancell_cgi').sum()
data_res = data_res[['rsrp_sample_count','rsrp_weak']]

In [51]:
data_res.to_clipboard()

In [25]:
data_res.to_csv('data_77340911.csv')

In [26]:
data_zong.groupby(by = 'region_name').count()

,day,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
region_name,,,,,,,,,,,,,,,
十堰,15404,15404,15404,15404,15404,15404,15404,173,15404,15404,15404,15404,3468,15404,15404
咸宁,12988,12988,12988,12988,12988,12988,12988,224,12988,12988,12988,12988,2111,12988,12988
孝感,25480,25480,25480,25480,25480,25480,25480,24050,25480,25480,25480,25480,25016,25480,25480
恩施,38419,38419,38419,38419,38419,38419,38419,209,38419,38419,38419,38419,26144,38419,38419
武汉,7390,7390,7390,7390,7390,7390,7390,1290,7390,7390,7390,7390,6566,7390,7390
江汉,13714,13714,13714,13714,13714,13714,13714,10309,13714,13714,13714,13714,13107,13714,13714
潜江,5773,5773,5773,5773,5773,5773,5773,4020,5773,5773,5773,5773,5743,5773,5773
荆州,40061,40061,40060,40061,40061,40061,40061,6,40061,40061,40061,40061,8079,40061,40061
襄阳,63,63,63,63,63,63,63,0,63,63,63,63,62,63,63
鄂州,12413,12413,12413,12413,12413,12413,12413,6875,12413,12413,12413,12413,10046,12413,12413
随州,24937,24937,24937,24937,24937,24937,24937,104,24937,24937,24937,24937,18511,24937,24937
黄石,161,161,161,161,161,161,161,0,161,161,161,161,77,161,161

# 9月4日

In [52]:
data = pd.read_csv(open('G:/1-规划/7734/7734质检/20190903数据质检7734/08280831cgi.csv'))

In [53]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190828,27073,27073,27073,27073,27073,27073,27073,1786,27073,27073,27073,27073,2058,27073,27073
20190829,28918,28918,28918,28918,28918,28918,28918,2294,28918,28918,28918,28918,2678,28918,28918
20190830,28764,28764,28761,28764,28764,28764,28764,4376,28764,28764,28764,28764,21425,28764,28764
20190831,27870,27870,27867,27870,27870,27870,27870,3809,27870,27870,27870,27870,23960,27870,27870

In [54]:
data.columns

Index(['day', 'region_name', 'eutrancell_cgi', 'eutrancell_name',
       'rsrp_sample_count', 'rsrp_weak', 'rsrp_sum', 'inter_maxrsrp_weak',
       'un_maxrsrp_sum', 'un_maxrsrp_sample_count', 'un_maxrsrp_weak',
       'te_maxrsrp_weak', 'te_maxrsrp_sample_count', 'te_maxrsrp_sum',
       'te_maxrsrp_weak_l2', 'un_maxrsrp_weak_l2'],
      dtype='object')

In [55]:
data_res = data.groupby(by = 'eutrancell_cgi').sum()

In [57]:
data_res = data_res[['rsrp_sample_count','rsrp_weak']]

In [58]:
data_res.to_clipboard()

# 8月21日-23

In [26]:
data = pd.read_csv(open('G:/1-规划/1其他工作输出/20190820数据质检7734/08140818cgi/08140818cgi.csv',encoding = 'utf-8'),sep = '\t')

In [27]:
data_16 = pd.read_csv(open('G:/1-规划/1其他工作输出/20190820数据质检7734/0816cgi.csv',encoding = 'utf-8'),sep = '\t')

In [28]:
data_24 = pd.read_csv('D:/up/08190824cgi.csv',encoding = 'utf-8',sep = '\t')

In [2]:
data_23 = pd.read_csv('D:/up/0823cgi.csv',encoding = 'utf-8',sep = '\t')

In [30]:
data_zong =data.append(data_16)

In [31]:
data_zong = data_zong.append(data_24)

In [32]:
data_zong = data_zong.append(data_23)

In [34]:
data_zong.columns

Index(['day', 'region_name', 'eutrancell_cgi', 'eutrancell_name',
       'rsrp_sample_count', 'rsrp_weak', 'rsrp_sum', 'inter_maxrsrp_weak',
       'un_maxrsrp_sum', 'un_maxrsrp_sample_count', 'un_maxrsrp_weak',
       'te_maxrsrp_weak', 'te_maxrsrp_sample_count', 'te_maxrsrp_sum',
       'te_maxrsrp_weak_l2', 'un_maxrsrp_weak_l2'],
      dtype='object')

In [35]:
data_res_quchong = data_zong.drop_duplicates(subset = 'eutrancell_cgi')

In [36]:
data_res_quchong.shape

(216995, 16)

In [21]:
data_zong.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190814,24692,24692,24692,24692,24692,24692,24692,22668,24692,24692,24692,24692,139,24692,24692
20190815,29147,29147,29147,29147,29147,29147,29147,24114,29147,29147,29147,29147,4019,29147,29147
20190816,14048,14048,14048,14048,14048,14048,14048,4203,14048,14048,14048,14048,3273,14048,14048
20190817,30140,30140,30140,30140,30140,30140,30140,206,30140,30140,30140,30140,3,30140,30140
20190818,18800,18800,18800,18800,18800,18800,18800,359,18800,18800,18800,18800,7,18800,18800
20190819,24697,24697,24696,24697,24697,24697,24697,970,24697,24697,24697,24697,18,24697,24697
20190820,25423,25423,25423,25423,25423,25423,25423,2126,25423,25423,25423,25423,1930,25423,25423
20190821,24671,24671,24668,24671,24671,24671,24671,2085,24671,24671,24671,24671,1135,24671,24671
20190822,44039,44039,44039,44039,44039,44039,44039,3609,44039,44039,44039,44039,2449,44039,44039
20190823,23937,23937,23937,23937,23937,23937,23937,665,23937,23937,23937,23937,118,23937,23937

In [24]:
data_zong.groupby(by = 'eutrancell_cgi').sum().to_clipboard()

In [23]:
data_zong.columns

Index(['day', 'region_name', 'eutrancell_cgi', 'eutrancell_name',
       'rsrp_sample_count', 'rsrp_weak', 'rsrp_sum', 'inter_maxrsrp_weak',
       'un_maxrsrp_sum', 'un_maxrsrp_sample_count', 'un_maxrsrp_weak',
       'te_maxrsrp_weak', 'te_maxrsrp_sample_count', 'te_maxrsrp_sum',
       'te_maxrsrp_weak_l2', 'un_maxrsrp_weak_l2'],
      dtype='object')

In [31]:
data_zong.groupby(by = 'region_name').count().to_clipboard()

# 8月14日

In [5]:
data12 = pd.read_csv(open('G:/1-规划/1其他工作输出/20190814数据质检7734/0812cgi.csv',encoding  = 'utf8'),sep = '\t')

In [6]:
data10_11 = pd.read_csv(open('G:/1-规划/1其他工作输出/20190814数据质检7734/08100811cgi/08100811cgi.csv',encoding  = 'utf8'),sep = '\t')

In [17]:
data12.loc[data12['eutrancell_name'].str.contains('黄家湖武科大医学院')]

,day,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
10586,20190812,武汉,460-00-440434-10,D黄家湖武科大医学院-ZLH-10_iSON,10180,342,-931494.0,14,-5316.0,55,3,0,0,NaN,0,2
12573,20190812,武汉,460-00-440434-7,D黄家湖武科大医学院-ZLH-7,60021,389,-5511720.0,28,-23296.0,236,40,0,0,NaN,0,28
12574,20190812,武汉,460-00-440434-4,D黄家湖武科大医学院-ZLH-4,27894,538,-2693151.0,0,-19085.0,210,1,0,0,NaN,0,1

In [7]:
if str(data12.columns) == str(data10_11.columns):
    print('数据的列一样，共计',data12.shape[0]+data10_11.shape[0],'行')
else:
    print('数据格式不同，需要处理')

数据的列一样，共计 116033 行

In [8]:
data = pd.concat([data12,data10_11])
data.shape

(116033, 16)

In [9]:
data_res=data.groupby(by='eutrancell_cgi').sum()

In [10]:
data_res=data_res.reset_index()

In [11]:
data_res.columns

Index(['eutrancell_cgi', 'day', 'rsrp_sample_count', 'rsrp_weak', 'rsrp_sum',
       'inter_maxrsrp_weak', 'un_maxrsrp_sum', 'un_maxrsrp_sample_count',
       'un_maxrsrp_weak', 'te_maxrsrp_weak', 'te_maxrsrp_sample_count',
       'te_maxrsrp_sum', 'te_maxrsrp_weak_l2', 'un_maxrsrp_weak_l2'],
      dtype='object')

In [12]:
data_res['fgl']=1 - data_res['rsrp_weak'] / data_res['rsrp_sample_count']

In [13]:
data_res1 = data_res[['eutrancell_cgi', 'rsrp_sample_count', 'rsrp_weak', 'fgl']]

In [14]:
data_res1.to_csv('7734_0814.csv',encoding = 'gbk',index=False)

# 结束

# 8月7日

In [18]:
data1 = pd.read_csv(open('g:/1-规划/1其他工作输出/20190807数据质检7734/07290804cgi.csv',encoding  = 'gbk'))

In [19]:
data2 = pd.read_csv(open('g:/1-规划/1其他工作输出/20190807数据质检7734/0805cgi.csv',encoding = 'utf8'),sep='\t')

In [20]:
display(data1.shape[0]+data2.shape[0])

135945

In [21]:
data = pd.concat([data1,data2])
data.shape

(135945, 16)

In [22]:
data.groupby(by = 'day').count()

,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
day,,,,,,,,,,,,,,,
20190729,30606,30606,30603,30606,30606,30606,30606,311,30606,30606,30606,30606,139,30606,30606
20190731,40139,40139,40135,40139,40139,40139,40139,332,40139,40139,40139,40139,33815,40139,40139
20190801,30645,30645,30645,30645,30645,30645,30645,84,30645,30645,30645,30645,25204,30645,30645
20190805,34555,34555,34552,34555,34555,34555,34555,226,34555,34555,34555,34555,30120,34555,34555

In [23]:
data_res=data.groupby(by = 'eutrancell_cgi').sum()

In [24]:
data_res = data_res.reset_index()

In [25]:
data_res = data_res[['eutrancell_cgi','rsrp_sample_count','rsrp_weak']]

In [26]:
data_res['fgl'] = 1 - data_res['rsrp_weak']/data_res['rsrp_sample_count']

In [28]:
data_res.to_clipboard()

In [11]:
gongcan = pd.read_csv(open('g:/1-规划/工参/工参数据/ltejizhan20190807.csv',encoding = 'gbk'))

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [120]:
gongcan.columns

Index(['小区CGI(*)', '小区中文名', '网络制式(TDD/FDD)', 'TDL规划站号(新)', '所属地区', '工程参数标识',
       '区县代码', '基站编码', 'VIP基站', '入网工程期', 'ATU网格', 'RRU经度', 'RRU纬度', '天线挂高',
       '地面海拔', '入网时间', '2G共址站名', '与FDD1800共址的FDD900站名', '站址归属单位', '覆盖类型',
       '覆盖类别', '覆盖场景', '场景名称', 'VOLTE场景', '方位角', '机械下倾角', '电子下倾角', '是否电调天线',
       '电下倾天线类型', '天线厂家', ' 工作频段', '设备型号', '设备类型(大类)', '分布式或一体化', '小区所属空间资源',
       '基站所属空间资源', 'eNodeB软件版本', '所属OMC', '归属区县', '厂家名称', '物理站名', '集中开站所在环节',
       '集中开站工单号', '姿态仪测量', '姿态仪测量时间', '所属eNodeB名称', '采集经度', '采集纬度', 'RRU数量',
       'TAC', 'PCI', '中心载频的信道号', '频段指示', '空口上下行业务字节数KByte', '统计分类'],
      dtype='object')

In [12]:
gongcan_j = gongcan.copy()

In [123]:
gongcan_j['enodeb']=gongcan_j['小区CGI(*)'].str.split('-',expand=True)[2]

In [124]:
gongcan_j_1 = gongcan_j[['enodeb','厂家名称']]

In [125]:
gongcan_j_1.to_clipboard()

In [38]:
gongcan_res = gongcan.loc[(gongcan['所属地区']=='武汉') & (gongcan['覆盖类别']==0)  & (gongcan['RRU经度']>0) & (gongcan['RRU纬度']>0) & (gongcan['方位角']>-1),['小区CGI(*)', '所属地区', '小区中文名','覆盖类别', 'RRU经度', 'RRU纬度','方位角']]

In [114]:
gongcan_res['enodeb']=gongcan_res['小区CGI(*)'].str.split('-',expand=True)[2]

In [117]:
gongcan_daochu=gongcan_res.drop_duplicates(subset='enodeb',keep='first',inplace=False)

In [36]:
gongcan_res.to_clipboard()

In [ ]:
wuhan_tu = nt.a

In [39]:
gongcan_res.to_csv('wuhan_tu.csv')

In [128]:
gongcan1 = gongcan[['小区CGI(*)', '小区中文名','RRU经度', 'RRU纬度', '方位角']]

In [136]:
data=gongcan1.head(100)

In [141]:
data1=data.dropna()

In [132]:
import app.mydef as md

In [133]:
mt = md.MyTools()

In [143]:
data_tu=mt.add_sectors(data1,coords=['RRU经度', 'RRU纬度','','方位角'],has_z=False)

In [146]:
import app.main as m

In [151]:
m.to_file(data_tu ,'aa.geojson')

# 结束

# 8月13日

In [57]:
data_0813 = pd.read_csv(open('G:/1-规划/1其他工作输出/20190814数据质检7734/08100811cgi/08100811cgi.csv',encoding = 'utf8'),sep='\t')

In [ ]:
# data_0813_2=data_0813.groupby(['day'])

In [75]:
data_08131=data_0813.loc[(data_0813['day']==20190811) & (data_0813['region_name']=='十堰')]

In [77]:
data_081310=data_0813.loc[(data_0813['day']==20190810) & (data_0813['region_name']=='十堰')]

In [71]:
data_res=data_0813.groupby(['eutrancell_cgi']).sum()

In [72]:
data_res.to_clipboard()

In [78]:
data_081310.to_clipboard()

In [73]:
data_0813.head(1)

,day,region_name,eutrancell_cgi,eutrancell_name,rsrp_sample_count,rsrp_weak,rsrp_sum,inter_maxrsrp_weak,un_maxrsrp_sum,un_maxrsrp_sample_count,un_maxrsrp_weak,te_maxrsrp_weak,te_maxrsrp_sample_count,te_maxrsrp_sum,te_maxrsrp_weak_l2,un_maxrsrp_weak_l2
0,20190810,荆州,460-00-449576-1,监利白螺荆江-ELH-1,34,22,-3849.0,0,NaN,0,0,0,0,NaN,0,0