In [1]:
import geopandas as gpd
import app.mydef as md
mt=md.MyTools()
import pandas as pd
import app.netools as ant
nt = ant.NetTools()
import time

(/Users/dongtao/myPythonPakage/app/band_dict.csv)文件不存在!
请核准路径及文件名!
(/Users/dongtao/myPythonPakage/app/hubei_id_resources.csv)文件不存在!
请核准路径及文件名!

In [2]:
list_filename=mt.file_name_paths(r'g:/1-规划/图层/栅格/湖北100米栅格/')

In [3]:
coverage_city=gpd.read_file('g:/1-规划/图层/湖北省地市-边界-边界/全省地市边界.TAB')

In [6]:
%%time
n = 0
data_results = pd.DataFrame()
for i in list_filename:
    data_i=pd.read_csv(open(i))
    data_i.columns = ['grid', 'lat', 'lon']
    coverage_grid=nt.add_points(data_i, coords=['lon', 'lat', '', ''])
    data_result=gpd.sjoin(coverage_city,coverage_grid)
#     data_result=data_result.filter(regex="[^geometry,^lon,^lat]")
    data_result = data_result[['']]
    data_results = data_results.append(data_result)
    print(i,data_results.shape)
    n=n+1
    if n == 3:
        break

C:\ProgramData\Anaconda3\lib\site-packages\geopandas\tools\sjoin.py:56: UserWarning: CRS of frames being joined does not match!({'proj': 'longlat', 'ellps': 'WGS84', 'towgs84': '0,0,0,0,0,0,0', 'no_defs': True} != {'init': 'epsg:4326'})
  '(%s != %s)' % (left_df.crs, right_df.crs))

g:/1-规划/图层/栅格/湖北100米栅格/49RBN.csv (63287, 7)
g:/1-规划/图层/栅格/湖北100米栅格/49RBP.csv (384650, 7)
g:/1-规划/图层/栅格/湖北100米栅格/49RBQ.csv (384650, 7)
Wall time: 2min 20s

In [9]:
data_results = data_results[['kkk', 'mianji',  'index_right', 'grid', 'lat', 'lon']]

In [10]:
data_results.to_csv('enshishange1.csv')

In [12]:
data_results.to_sql('nihao',con)

ValueError: Table 'nihao' already exists.

In [8]:
con=mt.con()

In [37]:
coverage_city.crs

{'proj': 'longlat',
 'ellps': 'WGS84',
 'towgs84': '0,0,0,0,0,0,0',
 'no_defs': True}

In [39]:
coverage_grid.to_file('a.tab')

In [38]:
coverage_grid.crs

{'init': 'epsg:4326'}

In [35]:
data_results.groupby('kkk').agg({'grid':'count'})

      grid
kkk
恩施   63287

In [18]:
data_i.columns

Index(['49RBN000000', '28.89324089503929', '107.92437808884281'], dtype='object')

In [15]:
data_i.head(1)

   49RBN000000  28.89324089503929  107.92437808884281
0  49RBN000001          28.894142          107.924351