In [1]:
import pandas as pd
import geopandas as gpd
import app.netools as ne
nt = ne.NetTools()
import app.mydef as my
mt = my.MyTools()

In [2]:
tu_quxian = gpd.read_file('g:/1-规划/图层/全省县界/全省县界/县界.tab',encoding = 'gbk')

In [3]:
con = mt.con()

In [4]:
grid_6 = pd.read_sql_table('2019年6月软采栅格数据-合并去重',con = con )

In [5]:
grid_6['a.grid_leftbottom_longitude'] =pd.to_numeric(grid_6['a.grid_leftbottom_longitude'])
grid_6['a.grid_righttop_longitude'] = pd.to_numeric(grid_6['a.grid_righttop_longitude'])
grid_6['a.grid_leftbottom_latitude'] = pd.to_numeric(grid_6['a.grid_leftbottom_latitude'])
grid_6['a.grid_righttop_latitude'] = pd.to_numeric(grid_6['a.grid_righttop_latitude'])

grid_6['lon'] = (grid_6['a.grid_leftbottom_longitude']+grid_6['a.grid_righttop_longitude'])/2
grid_6['lat'] = (grid_6['a.grid_leftbottom_latitude']+grid_6['a.grid_righttop_latitude'])/2

In [6]:
gis_grid_6 = nt.add_points(grid_6,coords=['lon','lat','',''])

In [7]:
res = gpd.sjoin(tu_quxian,gis_grid_6)

In [8]:
res1 = res[[ 'NAME', 'a.grid_id']]
res1.columns = [ 'NAME', 'a.grid_id1']

In [9]:
res2 = res1.drop_duplicates(subset='a.grid_id1')

In [10]:
grin_6_index=grid_6.reset_index()

In [11]:
res_grid_res=grin_6_index.merge(res2,how='left',left_on ='a.grid_id',right_on = 'a.grid_id1')

In [12]:
res_grid_res.head(1)

,index,a.region_name,a.grid_id,a.grid_leftbottom_longitude,a.grid_leftbottom_latitude,a.grid_lefttop_longitude,a.grid_lefttop_latitude,a.grid_righttop_longitude,a.grid_righttop_latitude,a.grid_rightbottom_longitude,...,a.un_maxrsrp_weak_l2,quxian,hd,yd,lt,dx,lon,lat,NAME,a.grid_id1
0,0,恩施,49RBN-565-946-100,108.481824,29.757754,108.4818016,29.75865582,108.482835,29.758675,108.4828574,...,0\r,None,None,0,None,None,108.48233,29.758215,利川市,49RBN-565-946-100

In [13]:
res_res=res_grid_res.drop_duplicates(subset='index')

In [14]:
res_res=res_res.reset_index(drop=True)

In [15]:
res_res.columns

Index(['index', 'a.region_name', 'a.grid_id', 'a.grid_leftbottom_longitude',
       'a.grid_leftbottom_latitude', 'a.grid_lefttop_longitude',
       'a.grid_lefttop_latitude', 'a.grid_righttop_longitude',
       'a.grid_righttop_latitude', 'a.grid_rightbottom_longitude',
       'a.grid_rightbottom_latitude', 'b.ul_data', 'b.dl_data',
       'a.rsrp_sample_count', 'a.rsrp_weak', 'a.inter_maxrsrp_weak',
       'a.un_maxrsrp_sum', 'un_count', 'a.un_maxrsrp_weak',
       'a.te_maxrsrp_weak', 'a.te_maxrsrp_sample_count', 'a.te_maxrsrp_sum',
       'a.te_maxrsrp_weak_l2', 'a.un_maxrsrp_weak_l2', 'quxian', 'hd', 'yd',
       'lt', 'dx', 'lon', 'lat', 'NAME', 'a.grid_id1'],
      dtype='object')

In [21]:
res_res=res_res[[ 'a.region_name', 'a.grid_id', 'a.grid_leftbottom_longitude',
       'a.grid_leftbottom_latitude', 'a.grid_lefttop_longitude',
       'a.grid_lefttop_latitude', 'a.grid_righttop_longitude',
       'a.grid_righttop_latitude', 'a.grid_rightbottom_longitude',
       'a.grid_rightbottom_latitude', 'b.ul_data', 'b.dl_data',
       'a.rsrp_sample_count', 'a.rsrp_weak', 'a.inter_maxrsrp_weak',
       'a.un_maxrsrp_sum', 'un_count', 'a.un_maxrsrp_weak',
       'a.te_maxrsrp_weak', 'a.te_maxrsrp_sample_count', 'a.te_maxrsrp_sum',
       'a.te_maxrsrp_weak_l2', 'a.un_maxrsrp_weak_l2', 'hd', 'yd',
       'lt', 'dx', 'lon', 'lat', 'NAME']]

In [19]:
res_res.columns = ['a.region_name', 'a.grid_id', 'a.grid_leftbottom_longitude',
       'a.grid_leftbottom_latitude', 'a.grid_lefttop_longitude',
       'a.grid_lefttop_latitude', 'a.grid_righttop_longitude',
       'a.grid_righttop_latitude', 'a.grid_rightbottom_longitude',
       'a.grid_rightbottom_latitude', 'b.ul_data', 'b.dl_data',
       'a.rsrp_sample_count', 'a.rsrp_weak', 'a.inter_maxrsrp_weak',
       'a.un_maxrsrp_sum', 'un_count', 'a.un_maxrsrp_weak',
       'a.te_maxrsrp_weak', 'a.te_maxrsrp_sample_count', 'a.te_maxrsrp_sum',
       'a.te_maxrsrp_weak_l2', 'a.un_maxrsrp_weak_l2', 'hd', 'yd',
       'lt', 'dx', 'lon', 'lat', '区县']

In [22]:
res_res['a.un_maxrsrp_weak_l2']=res_res['a.un_maxrsrp_weak_l2'].str.replace('\r','')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
res_res.to_sql('2019年6月软采栅格数据-合并去重1',con = con ,index=False)

In [80]:
groupby_res=res_res.groupby(by ='a.region_name')

In [82]:
for name,data in groupby_res:
    data.to_csv(name+'.csv',encoding = 'gbk',index=False)

In [49]:
grid_6.shape

(2183926, 25)