In [6]:
import mytools
import pandas as pd

In [7]:
import geopandas as gpd

# 软采小区

In [8]:
ruancai = pd.read_csv('G:/1-规划/MRO/1、原始数据/摸底测试相关/2020年/3月/软采/allcgi03210330/allcgi03210330.csv',encoding='utf-8',sep='\t')

In [9]:
ruancai.columns

Index(['day', 'eutrancell_name', 'eutrancell_cgi', 'rsrp_sample_count',
       'scrsrpavg', 'rsrq_sum', 'rsrq_sample_count', 'scrsrqavg', 'rsrp_weak',
       'rsrp_weak_rate', 'ulsinr_sum', 'ulsinr_sample_count', 'ulsinravg'],
      dtype='object')

In [10]:
ruancai.shape

(924095, 13)

In [11]:
ruancai_sum = ruancai.groupby('eutrancell_cgi').sum().reset_index()

In [12]:
gongcan = pd.read_csv('G:/1-规划/工参/工参数据/ltejizhan20200317.csv',encoding='gbk')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
gongcan.columns

Index(['小区CGI(*)', '小区中文名', '网络制式(TDD/FDD)', 'TDL规划站号(新)', '所属地区', '工程参数标识',
       '区县代码', '基站编码', '入网工程期', 'RRU经度', 'RRU纬度', '天线挂高', '入网时间', '2G共址站名',
       'FDD900与1800是否共址', '站址归属单位', '覆盖类型', '覆盖类别', '覆盖场景', '覆盖场景细化', '二级覆盖场景',
       '二级覆盖场景细化', '方位角', '机械下倾角', '电子下倾角', '是否电调天线', '电下倾天线类型', '天线厂家',
       '工作频段', '设备型号', '设备类型(大类)', '分布式或一体化', '小区所属空间资源', '基站所属空间资源',
       'eNodeB软件版本', '所属OMC', '归属区县', '厂家名称', '集中开站所在环节', '集中开站工单号', '开站流程类型',
       '姿态仪测量', '姿态仪测量时间', '所属eNodeB名称', '采集经度', '采集纬度', 'RRU数量', 'TAC', 'PCI',
       '中心载频的信道号', '频段指示', '空口上下行业务字节数KByte', '集中工参工单号', 'BBU串号', 'RRU串号',
       '规划平台_站址编码', '规划平台_站址名称', '规划平台_覆盖方式', '统计分类'],
      dtype='object')

In [14]:
gongcan_use = gongcan[['小区CGI(*)', '小区中文名', '网络制式(TDD/FDD)', '所属地区',  'RRU经度', 'RRU纬度', '覆盖类别', 
       '方位角', '机械下倾角', '电子下倾角','工作频段','归属区县', '厂家名称']]

In [15]:
ruancai_use = gongcan.merge(ruancai_sum,how='left',left_on='小区CGI(*)',right_on='eutrancell_cgi')

In [16]:
ruancai_use.columns

Index(['小区CGI(*)', '小区中文名', '网络制式(TDD/FDD)', 'TDL规划站号(新)', '所属地区', '工程参数标识',
       '区县代码', '基站编码', '入网工程期', 'RRU经度', 'RRU纬度', '天线挂高', '入网时间', '2G共址站名',
       'FDD900与1800是否共址', '站址归属单位', '覆盖类型', '覆盖类别', '覆盖场景', '覆盖场景细化', '二级覆盖场景',
       '二级覆盖场景细化', '方位角', '机械下倾角', '电子下倾角', '是否电调天线', '电下倾天线类型', '天线厂家',
       '工作频段', '设备型号', '设备类型(大类)', '分布式或一体化', '小区所属空间资源', '基站所属空间资源',
       'eNodeB软件版本', '所属OMC', '归属区县', '厂家名称', '集中开站所在环节', '集中开站工单号', '开站流程类型',
       '姿态仪测量', '姿态仪测量时间', '所属eNodeB名称', '采集经度', '采集纬度', 'RRU数量', 'TAC', 'PCI',
       '中心载频的信道号', '频段指示', '空口上下行业务字节数KByte', '集中工参工单号', 'BBU串号', 'RRU串号',
       '规划平台_站址编码', '规划平台_站址名称', '规划平台_覆盖方式', '统计分类', 'eutrancell_cgi', 'day',
       'rsrp_sample_count', 'scrsrpavg', 'rsrq_sum', 'rsrq_sample_count',
       'scrsrqavg', 'rsrp_weak', 'rsrp_weak_rate', 'ulsinr_sum',
       'ulsinr_sample_count', 'ulsinravg'],
      dtype='object')

In [26]:
ruancai_use1 = ruancai_use[(ruancai_use['所属地区']=='武汉')&(ruancai_use['工作频段']=='FDD900')]

In [27]:
ruancai_res = ruancai_use1.groupby('归属区县').agg({'小区CGI(*)':'count','eutrancell_cgi':'count','rsrq_sample_count':'sum','rsrp_weak':'sum'})

In [28]:
ruancai_res

         小区CGI(*)  eutrancell_cgi  rsrq_sample_count    rsrp_weak
归属区县
东湖高新开发区      1966            1780       5.244600e+08   32470762.0
东西湖区         1178            1126       3.650442e+08   17941319.0
新洲县          1153            1108       1.079078e+09   77914082.0
武昌区           847             721       2.273010e+08   12897885.0
武汉市            25               4       2.028670e+06      85201.0
汉阳区           819             785       2.277684e+08    7604657.0
江夏区          1590            1515       6.659757e+08   51413816.0
江岸区           899             850       2.234182e+08    9516720.0
江汉区           566             508       1.376752e+08    7415010.0
洪山区           893             825       2.382843e+08    9301067.0
硚口区           593             541       1.227307e+08    6834425.0
经开区          1162            1075       3.621040e+08   16345243.0
蔡甸区          1131            1098       3.894260e+08   20011849.0
青山区          1363            1263       4.072978e+08   17168244.0
黄陂县          1868            1731       1.524169e+09  133798497.0

In [29]:
jiangnan = gpd.read_file('G:/1-规划/图层/武汉分公司图层20190109/江南/江南.TAB',encoding='gbk')

In [31]:
jiangnan1 = jiangnan.to_crs({'init':'epsg:4326'})

C:\ProgramData\Anaconda3\lib\site-packages\pyproj\crs\crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [36]:
jiangnan12 = mytools.gisn.points_coverage_merge(ruancai_use1,
    lon='RRU经度',
    lat='RRU纬度',
    coverage=jiangnan1,
    df_merge_coverage_columns=['区县划分'],
    merge_only_right_mark='江北',)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\function_base.py:2167: RuntimeWarning: invalid value encountered in ? (vectorized)
  outputs = ufunc(*inputs)

In [37]:
ruancai_res2 = jiangnan12.groupby('区县划分').agg({'小区CGI(*)':'count','eutrancell_cgi':'count','rsrq_sample_count':'sum','rsrp_weak':'sum'})

In [38]:
ruancai_res2

      小区CGI(*)  eutrancell_cgi  rsrq_sample_count    rsrp_weak
区县划分
江北        9440            8874       4.447659e+09  298251639.0
江南        6613            6056       2.049102e+09  122467138.0

In [34]:
jiangnan1

  区县划分                                           geometry
0   江南  POLYGON ((114.04456 30.21839, 114.05145 30.220...

In [78]:
jiangnan12['fgl'] = 1- jiangnan12['rsrp_weak']/jiangnan12['rsrq_sample_count']

In [79]:
jiangnan12.loc[jiangnan12['fgl']<0.9,'弱覆盖'] = 1

In [82]:
ruancai_res3 = jiangnan12.groupby('归属区县').agg({'弱覆盖':'count'})

In [83]:
ruancai_res3

         弱覆盖
归属区县
东湖高新开发区  336
东西湖区     182
新洲县      349
武昌区      113
武汉市        1
汉阳区       64
江夏区      444
江岸区      103
江汉区       78
洪山区       69
硚口区       93
经开区      173
蔡甸区      182
青山区      150
黄陂县      616

In [81]:
ruancai_res3

       弱覆盖
区县划分
江北    1844
江南    1109

# 栅格数据

In [39]:
grid = pd.read_csv('G:/1-规划/评估/FDD900评估/3-输出/20200402统计3月数据输出/数据/栅格/zm0329all/zm0329all.csv',encoding='utf-8',sep='\t')

In [40]:
grid.shape

(1464178, 8)

In [41]:
grid.head(1)

,day,eutrancell_name,grid_id_100,_c3,_c4,_c5,_c6,_c7
0,20200329,471大学生公寓-1,50RKU-559-852-100,114.455221,30.574903,-94.0,4,0

In [42]:
tu = gpd.read_file('G:/1-规划/图层/全省区域规划图层20200110/全省区域规划图层20200110.TAB',encoding='gbk')

In [43]:
city_tu = gpd.read_file('G:/1-规划/图层/湖北省地市-边界-边界/全省地市边界.TAB',encoding='gbk')

In [44]:
city_tu_wuhan = city_tu.loc[city_tu['kkk']=='武汉市']

In [45]:
grid_points = mytools.gisn.add_points(grid,'_c3','_c4')

In [46]:
city_tu_wuhan1 = city_tu_wuhan.to_crs({'init': 'epsg:4326'})

C:\ProgramData\Anaconda3\lib\site-packages\pyproj\crs\crs.py:55: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [47]:
grid_wuhan = gpd.sjoin(grid_points,city_tu_wuhan1)

In [48]:
grid_wuhan.head(1)

,day,eutrancell_name,grid_id_100,_c3,_c4,_c5,_c6,_c7,geometry,index_right,kkk,mianji
0,20200329,471大学生公寓-1,50RKU-559-852-100,114.455221,30.574903,-94.0,4,0,POINT (114.45522 30.57490),3,武汉市,8580.82

In [50]:
quxian = gpd.read_file('G:/1-规划/图层/武汉新-县城图层/县界.TAB',encoding='gbk')

In [55]:
grid_wuhan = grid_wuhan.drop(columns='index_right')

In [56]:
grid_wuhan1 = mytools.gisn.points_coverage_merge(grid_wuhan,
    lon='_c3',
    lat='_c4',
    coverage=quxian,
    df_merge_coverage_columns=['NAME'],
    merge_only_right_mark='wu',)

In [60]:
grid_wuhan2 = mytools.gisn.points_coverage_merge(grid_wuhan1,
    lon='_c3',
    lat='_c4',
    coverage=tu)

In [61]:
grid_wuhan2.head(1)

,day,eutrancell_name,grid_id_100,_c3,_c4,_c5,_c6,_c7,geometry,kkk,mianji,NAME,区域类型
0,20200329,471大学生公寓-1,50RKU-559-852-100,114.455221,30.574903,-94.0,4,0,POINT (114.45522 30.57490),武汉市,8580.82,青山,农村

In [62]:
grid_use_wuhan = mytools.gisn.points_coverage_merge(grid_wuhan2,
    lon='_c3',
    lat='_c4',
    coverage=jiangnan1,
    df_merge_coverage_columns=['区县划分'],
    merge_only_right_mark='江北',)

In [64]:
grid_use_wuhan.head(1)

,day,eutrancell_name,grid_id_100,_c3,_c4,_c5,_c6,_c7,geometry,kkk,mianji,NAME,区域类型,区县划分
0,20200329,471大学生公寓-1,50RKU-559-852-100,114.455221,30.574903,-94.0,4,0,POINT (114.45522 30.57490),武汉市,8580.82,青山,农村,江南

In [69]:
grid_use_wuhan = grid_use_wuhan.sort_values('_c6',ascending=False)

In [70]:
grid_use_wuhan_1 = grid_use_wuhan.drop_duplicates('grid_id_100')

In [73]:
res = grid_use_wuhan_1.groupby('区域类型').agg({'grid_id_100':'count'})

In [74]:
res

      grid_id_100
区域类型
3A景区          243
4A景区          720
5A景区          574
一般城区        47794
主城区         26312
乡镇           7627
农村         309029
县城           8286
景区            246
热点           5347

In [75]:
res1 = grid_use_wuhan_1.groupby('区县划分').agg({'grid_id_100':'count'})

In [76]:
res1

      grid_id_100
区县划分
江北         294547
江南         111631

In [85]:
grid_use_wuhan_1['fgl'] = 1- grid_use_wuhan_1['_c7']/grid_use_wuhan_1['_c6']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [87]:
grid_use_wuhan_1.loc[grid_use_wuhan_1['fgl']<0.9,'弱覆盖'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [92]:
grid_use_wuhan_1.groupby('区域类型').agg({'弱覆盖':'count'})

         弱覆盖
区域类型
3A景区     103
4A景区     223
5A景区     305
一般城区    7355
主城区     2883
乡镇      2386
农村    103857
县城      1523
景区        36
热点      1364

In [89]:
grid_use_wuhan_1.head(1)

,day,eutrancell_name,grid_id_100,_c3,_c4,_c5,_c6,_c7,geometry,kkk,mianji,NAME,区域类型,区县划分,fgl,弱覆盖
664810,20200329,江夏通用工业园3-EFH-2,50RKU-285-644-100,114.175214,30.381537,-95.156084,65529,21,POINT (114.17521 30.38154),武汉市,8580.82,江夏,一般城区,江南,0.99968,NaN

In [95]:
from shapely.geometry import Polygon
from geographiclib.geodesic import Geodesic

In [96]:
def __fwjuli(lonlat=['lon','lat'],juli = 70):
    lon,lat = lonlat
    list_lonlat = []
    p_1=Geodesic.WGS84.Direct(lat, lon, 45, juli)
    p_2=Geodesic.WGS84.Direct(lat, lon, 225, juli)
    max_lon = p_1['lon2']
    max_lat = p_1['lat2']
    min_lon = p_2['lon2']
    min_lat = p_2['lat2']
    tu2 = [(min_lon,min_lat),(max_lon,min_lat),(max_lon,max_lat),(min_lon,max_lat),(min_lon,min_lat)]
    tu = Polygon([(min_lon,min_lat),(max_lon,min_lat),(max_lon,max_lat),(min_lon,max_lat),(min_lon,min_lat)])
    return tu

In [97]:
#生成100米的方框geopandas
df = grid_use_wuhan_1.copy()
df['geometry'] = [__fwjuli(x) for x in zip(df['_c3'],df['_c4'])]
df = gpd.GeoDataFrame(df, crs={"init": "epsg:4326"}, geometry='geometry')

In [98]:
df.head(1)

,day,eutrancell_name,grid_id_100,_c3,_c4,_c5,_c6,_c7,geometry,kkk,mianji,NAME,区域类型,区县划分,fgl,弱覆盖
664810,20200329,江夏通用工业园3-EFH-2,50RKU-285-644-100,114.175214,30.381537,-95.156084,65529,21,"POLYGON ((114.17470 30.38109, 114.17573 30.381...",武汉市,8580.82,江夏,一般城区,江南,0.99968,NaN

In [104]:
df[['grid_id_100','fgl','弱覆盖','geometry']].to_file('d:/栅格图层.tab',driver="MapInfo File",encoding = 'utf-8')

In [107]:
df[['grid_id_100','fgl','弱覆盖','geometry']].to_file('d:/栅格图层.geojson',driver="GeoJSON",encoding = 'utf-8')

In [ ]:
from shapely import wkt
dfd['geometry'] = dfd['geometry'].apply(wkt.loads)
dfd = gpd.GeoDataFrame(dfd, crs={"init": "epsg:4326"}, geometry='geometry')